section.b-accordion
	.container
		.row
			.col-xs-12
				h1 bootstrap accordion
				br
				//- accordion heading clickeable
				//----------------------------------------------------------------------------------------------------
				div(class='panel-group', role='tablist', id='accordion'+i)
					-for (var i=1; i<=3; i++)
						//----------------------------------------------------
						div(class='panel panel-default')
							div(class='collapsed panel-heading',role="tab",id='heading'+i, data-toggle="collapse" data-target='#collapse'+i)
								h4.panel-tittle encabezado#{i}
							div(class='panel-collapse collapse', id='collapse'+i)
								.panel-body
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elppit. Aperiam consequuntur
									|nostrum architecto beatae quas, doloremque blanditiis officia sit repellendus ipsam
									|atque. Eos velit voluptates amet expedita modi! Eveniet, suscipit, molestiae!