div(class='container')
	div(class='row')
		div(class='col mt-3')
			div(class='accordion', id='accordionExample')
				.card.z-depth-0.bordered
					#headingOne.card-header
						button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
							| Collapsible Group Item #1
					#collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
						.card-body
							| Panel Collapse 1
				.card.z-depth-0.bordered
					#headingTwo.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
							| Collapsible Group Item #2
					#collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
						.card-body
							| Panel Collapse 2
				.card.z-depth-0.bordered
					#headingThree.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
							| Collapsible Group Item #3
					#collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
						.card-body
							| Panel Collapse 3
