section.btn-collapse
	.container
		.row
			.col-xs-12
				h1 Esto seria un ejemplo de un boton collapse.
				br
				a.btn.btn-primary(href='#section', data-toggle='collapse') Show / Hide
				.collapse#section
					br
					.well
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sunt, quos rem aperiam eligendi
						|minus velit dicta praesentium debitis sed autem consectetur earum distinctio soluta, quam ipsum.
						|Hic, tenetur, architecto!
