#demo.carousel.slide(data-ride='carousel')
	// Indicators
	ul.carousel-indicators
		li.active(data-target='#demo', data-slide-to='0')
		li(data-target='#demo', data-slide-to='1')
		li(data-target='#demo', data-slide-to='2')
	// The slideshow
	.carousel-inner
		.carousel-item.active
			img(src='https://www.w3schools.com/bootstrap4/la.jpg', alt='Los Angeles', style='width:100%')
		.carousel-item
			img(src='https://www.w3schools.com/bootstrap4/la.jpg', alt='Los Angeles', style='width:100%')
		.carousel-item
			img(src='https://www.w3schools.com/bootstrap4/la.jpg', alt='Los Angeles', style='width:100%')
	// Left and right controls
	a.carousel-control-prev(href='#demo', data-slide='prev')
		span.carousel-control-prev-icon
	a.carousel-control-next(href='#demo', data-slide='next')
		span.carousel-control-next-icon
