div(class='container')
	div(class='row')
		div(class='col')
			button(data-toggle='collapse', data-target='#demo', class='btn btn-primary') Collapsible
			#demo.collapse
				| Lorem ipsum dolor text....
