section(class='grid-practice')
	div(class='container')
		h1.text-center grid practice
	div(class='container')
		div(class='row')
			div(class='col'): span item 1
			div(class='col'): span item 2
			div(class='col'): span item 3
			div(class='col'): span item 4
