div(class='container')
	div(class='row')
		div(class='col-xs-12')
			:markdown-it
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
				- Lorem ipsum dolor sit amet consectetur adipisicing `elit`.
		div(class='col-xs-12')
			:markdown-it(html)
				```html
					<div class="main-banner img-container" id="main-banner">
						<div class="ed-grid lg-grid-6">
							<div class="lg-cols-4 lg-x-2">
								<img class="main-banner__img" src="tu-imagen.jpg">
								<div class="main-banner__data s-center">
									<p class="t2 s-mb-0">Título del banner</p>
									<p> Subtítulo del banner</p>
									<a href="#" class="button">Botón del banner</a>
								</div>
							</div>
						</div>
					</div>
				```
		div(class='col-xs-12')
			include:markdown-it(html) ../md/example.md
