section.pagination-module
	.container
		h1 Bootstrap Pagination
		.row
			.col-xs-12
				.tab-content
					div.tab-pane.fade.in.active#page1
						h4 page 1
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#page2
						h4 page 2
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#page3
						h4 page 3
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#page4
						h4 page 4
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
				nav
					ul.pagination
						li.active: a(href="#page1" data-toggle="tab") page 1
						li: a(href="#page2" data-toggle="tab") page 2
						li: a(href="#page3" data-toggle="tab") page 3
						li: a(href="#page4" data-toggle="tab") page 4