section.tabs
	.container
		.row
			.col-xs-12
				h1 Esto seria un ejemplo de un tab con bootstrap
				ul.nav.nav-tabs(role='tablist')
					li.in.active: a(href="#tab1" data-toggle="tab") tab 1
					li: a(href="#tab2" data-toggle="tab") tab 2
					li: a(href="#tab3" data-toggle="tab") tab 3
					li: a(href="#tab4" data-toggle="tab") tab 4
				.tab-content
					div.tab-pane.fade.in.active#tab1
						h4 tab 1
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#tab2
						h4 tab 2
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#tab3
						h4 tab 3
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
					div.tab-pane.fade#tab4
						h4 tab 4
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque
