div(class='container' style='margin-bottom:15px')
	div(class='row')
		div(class='col mt-3')
			h3 Tooltip Example
			p The data-placement attribute specifies the tooltip position.
	div(class='row')
		div(class='col')
			a(href='#', data-toggle='tooltip', data-placement='top', title='Hooray!', class='btn btn-primary') Top
		div(class='col')
			a(href='#', data-toggle='tooltip', data-placement='bottom', title='Hooray!', class='btn btn-primary') Bottom
		div(class='col')
			a(href='#', data-toggle='tooltip', data-placement='left', title='Hooray!', class='btn btn-primary') Left
		div(class='col')
			a(href='#', data-toggle='tooltip', data-placement='right', title='Hooray!', class='btn btn-primary') Right
