extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../components/grid-practice
	include ../components/bootstrapModal
	include ../components/accordion
	include ../components/tabs
	include ../components/pagination
	include ../components/btn-collapse
	include ../components/markdown
	include ../components/json-data
block main-footer
block scripts
