extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../components/modal
	include ../components/popover
	include ../components/tooltip
	include ../components/pagination
	include ../components/accordion
	include ../components/tabs
	include ../components/collapse-button
	include ../components/filters
	include ../components/alerts
	include ../components/markdown
	include ../components/json-data
block main-footer
block scripts
